BGCOLOR="SILVER" TEXT="BLACK" LINK="BLACK" ALINK="BLACK" VLINK="BLACK"

body {
    background-color: silver;
    text: black;
  }



a:link {
    color: red;
}
  a:visited {
    color: green;
  }
  a:hover {
    color: hotpink;
  }
  a:active {
    color: blue;
  } 